@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply font-sans;
        transition: filter 400ms;
    }
    body.loading {
        filter: blur(2px);
    }

    /* Nav Compo  */
    .header {
        @apply flex justify-between items-center h-20 w-full px-4;
    }
    .menuContainer {
        @apply flex justify-end md:justify-between items-center ml-2 w-full; 
    }
    .menu {
        @apply bg-none;     
    }
    .menu.active {
        @apply w-5/6 flex absolute mx-auto rounded-md left-0
    }
    .menu, .cta {
        @apply hidden;
        @apply md:flex;
    }
    .cta {
        transition: all 500ms !important;
        @apply bg-slate-800 px-4 py-2 rounded hover:bg-slate-500 hover:shadow-slate-500/50 shadow;
    }
    .menuButton {
        @apply flex fill-slate-300 hover:fill-white transition-colors;
        @apply md:hidden
    }
    .menuLink {
        @apply text-white mx-4 font-medium;
    }
    .logo {
        @apply min-h-max aspect-square
    }

    /* pages */
    .customFocus {
        @apply focus:outline-none;
    }
    .container {
        @apply max-w-7xl mx-auto py-6;
    }
    .ariane_h1 {
        @apply text-center text-white font-mono font-semibold text-xl md:text-4xl underline decoration-teal-500;
    }
    .ariane_list {
        @apply flex text-white w-max mx-auto flex-wrap;
    }
    .ariane_list li {
        @apply relative mr-6 font-semibold hover:text-teal-500 tracking-wide text-sm md:text-lg;
    }
    .ariane_list li::before {
        content: '';
        transform: translateY(-50%);
        height: .1rem;
        @apply absolute left-full top-2/4 mr-6 w-4 ml-1 flex rounded bg-orange-900;
    }
    .ariane_list li:last-child::before {
        width: 0 !important;
    }
    .ariane_list li:last-child {
        margin: 0 !important;
    }

    /* Form */
    .inputEl {
        @apply flex flex-col;
    }
    .inputEl label {
        @apply mb-1 font-semibold;
    }
    .inputEl span {
        @apply h-4 mb-3 text-red-600 text-sm;
    }
    .inputEl input {
        @apply mt-4 mb-1 border w-80 p-2 focus:border-teal-500;
    }
    .button {
        @apply px-20 py-3 bg-teal-500 text-white font-bold cursor-pointer;
    }
    .button2 {
        @apply w-full py-3 border text-slate-900 font-bold cursor-pointer;
    }
    .error {
        @apply border border-red-600;
    }

    /* Ecercices */
    .exercices {
        @apply flex flex-col lg:flex-row justify-center;
    }
    .exercices-left {
        @apply p-4 w-full lg:max-w-2xl xl:max-w-none;
    }
    .exercices-right {
        @apply p-4 w-full sm:max-w-[17.5rem] xl:max-w-xs;
    }

    /* Modal */
    .modal {
        @apply fixed top-0 left-0 w-full h-full bg-gray-900/80 flex items-center justify-center text-white font-bold cursor-pointer z-40;
    }
    .modal_inner {
        width: calc(100vw - 4rem);
        height: calc(100vh - 4rem);
        @apply bg-white text-gray-500 md:h-2/4 md:w-2/4 rounded p-2 cursor-default z-50;
    }
    .modal_inner code {
        @apply text-slate-900 border bg-gray-50 md:h-2/4 md:w-2/4 rounded p-2 cursor-default;
    }



    /* Footer */
    .footer {
        @apply w-full h-40 dark:bg-slate-900
    }

}